[project]
	description = The Go programming language
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kevin Klues (klueska)
[access "refs/for/refs/*"]
	read = group Akaros
	read = group user/Kevin Klues (klueska)
	push = group Akaros
	push = group user/Kevin Klues (klueska)
	label-Code-Review = -2..+2 group Akaros
	label-Code-Review = -2..+2 group user/Kevin Klues (klueska)
	label-Verified = -1..+1 group Akaros
	label-Verified = -1..+1 group user/Kevin Klues (klueska)
	rebase = group Akaros
	rebase = group user/Kevin Klues (klueska)
	removeReviewer = group Akaros
	removeReviewer = group user/Kevin Klues (klueska)
	submit = group Akaros
	submit = group user/Kevin Klues (klueska)
[access "refs/heads/*"]
	read = group Akaros
	read = group user/Kevin Klues (klueska)
	create = group user/Kevin Klues (klueska)
	push = +force group user/Kevin Klues (klueska)
	pushMerge = group user/Kevin Klues (klueska)
	label-Code-Review = -2..+2 group Akaros
	label-Verified = -1..+1 group Akaros
[access "refs/tags/*"]
	push = group user/Kevin Klues (klueska)
	pushTag = group user/Kevin Klues (klueska)
	pushSignedTag = group user/Kevin Klues (klueska)
	read = group Akaros
[receive]
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	action = rebase if necessary
